<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixAirport_4000</key>
				<true/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixShutdown_0004</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TUVJXw==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<false/>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-0.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
			<string>SSDT-3.aml</string>
			<string>SSDT-4.aml</string>
			<string>SSDT-5.aml</string>
			<string>SSDT-6.aml</string>
			<string>SSDT-7.aml</string>
			<string>SSDT-8.aml</string>
			<string>SSDT-9.aml</string>
			<string>SSDT-10.aml</string>
			<string>SSDT-11.aml</string>
			<string>SSDT-12.aml</string>
			<string>SSDT-13.aml</string>
			<string>SSDT-14.aml</string>
			<string>SSDT-15.aml</string>
			<string>SSDT-16.aml</string>
			<string>SSDT-17.aml</string>
			<string>SSDT-18.aml</string>
			<string>SSDT-19.aml</string>
			<string>ssdt-uiac.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 kext-dev-mode=1</string>
		<key>Debug</key>
		<false/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>13</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>UEFI internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>Bluemac</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x191b0000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>10.11-BCM94352-5GHz-US-FCC-dv</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QYP8/3QsSA==</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>ZscGVVPrKw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11.dp1+ BT4LE-Handoff-Hotspot, credit RehabMan based on Dokterdok original</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch, 10.10.x/10.11.x (credit lisai9093, cecekpawon)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AQAAdRc=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6xc=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.11.4 ( (based on Austere.J patch)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QTnEdio=</data>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>QTnE6yo=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>TWFjLUM2RUZBNjM5NjJGQzZFQTA=</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>TWFjLTI3QURCQjdCNENFRThFNjE=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>NVMe SSD IONameMatch</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Find</key>
				<data>PHN0cmluZz5wY2kxNDRkLGE4MDQ8L3N0cmluZz4=</data>
				<key>Replace</key>
				<data>PHN0cmluZz5wY2kxNDRkLGE4MDI8L3N0cmluZz4=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#01</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>hfZ0YUHB5wxJY/++IAAAAA==</data>
				<key>Replace</key>
				<data>hfZ0YUHB5wlJY/++IAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#02&amp;03</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>AAAAg/kMdVhBx4akAAAAABAAAEg=</data>
				<key>Replace</key>
				<data>AAAAg/kJdVhBx4akAAAAAAIAAEg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#04</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>SI2G/w8AAEjB6AwPtw+B4Q==</data>
				<key>Replace</key>
				<data>SI2G/w8AAEjB6AkPtw+B4Q==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#05&amp;06</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>SIHm/w8AAEgB1kiB/v8PAAB3PEg=</data>
				<key>Replace</key>
				<data>SIHm/wEAAEgB1kiB/v8BAAB3PEg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#07&amp;08&amp;09</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>DwAAScHuDEmLTQBIictIgeP/DwAAD5XAD7bARAHwg/gCD4W4AAAATI2hABAAAEyJ4EglAPD//0mJjyIBAABJiYcqAQAAQb4AEAAASSneSI0=</data>
				<key>Replace</key>
				<data>DwAAScHuCUmLTQBIictIgeP/DwAAD5XAD7bARAHwg/gCD4W4AAAATI2hAAIAAEyJ4EglAPD//0mJjyIBAABJiYcqAQAAQb4AAgAASSneSI0=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#10</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>hyoBAAC6ABAAAEgp</data>
				<key>Replace</key>
				<data>hyoBAAC6AAIAAEgp</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>AABJKdS4ABAAAE2L</data>
				<key>Replace</key>
				<data>AABJKdS4AAIAAE2L</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12&amp;13</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>TYnXugAQAABFMclIid7oAAAAAE2J+kyLfdBJi4dgAQAATIls2PhJgcUAEAAASYHE</data>
				<key>Replace</key>
				<data>TYnXugACAABFMclIid7oAAAAAE2J+kyLfdBJi4dgAQAATIls2PhJgcUAAgAASYHE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>DwAASMHpDGap/w8P</data>
				<key>Replace</key>
				<data>DwAASMHpCWap/w8P</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15&amp;16&amp;17&amp;18&amp;19</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>QYP4B3dtRIpVEEQPt5+wAAAAQcHjEA+2h7YAAACD4AjB4ApECdiDyAKJhwoBAACJtw4BAABIiZcyAQAAioe2AAAAJAIPtsDB4B0JyImHOgEAAEHB4AhBD7bBRAnAicGByQAQAABFhNIPRMiJjz4BAA==</data>
				<key>Replace</key>
				<data>QYP4B3dtRA+2VRBED7efsAAAAEHB4xAPtoe2AAAAg+AIweAKRAnYg8gCiYcKAQAAibcOAQAASImXMgEAAIqHtgAAACQCD7bAweAdCciJhzoBAABBweAIQQ+2wcHgCZCQkJCQkJBECcBECdCJhz4BAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#20&amp;21&amp;22&amp;23</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>AEE5TMnr5HVOB+mmeHIKS8+CkpFCxsGSjVQ55RGF7HPyMLRAEenCdlw9ABkXy+TC79wzkECAIfgaReSm28x6CQ==</data>
				<key>Replace</key>
				<data>AMJYAvbk8/5BhFjxfdTbqbQ3/1ltxsGSjVQ55RGF7HPyMLRAEenCdlwmCld+AkentTJyBbhSN24VAkP5CMx6CQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#24 - 51</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>BIIBAEnKT7RtSMZmBUXJYiljxJJFkczm2pfZ5IPg1G+cQK7aL5iJtDi/MS7xRfQh4/Cs1uRhuguFiFsVa7a/sXvhr5/UrH6i3DeDuzcrF2X81s+YC/0IEX26bgq/WJnS69bVcqu0JAIr0Gzx4RQ8M4k4WpsrPKhSQlqe2bJnkpbmYV/DpcBTrXJTrq9GtTe4565lM8Nn60z90dTC7lJr3M5AWT4ZL1N0yj/fdzcr1F2oLSkjs3Fs95hGsJlRJ8k6R1i41gNm8YmAjVaUqpRqPI4dCtIuu60VT9WOeyRNla7HlfgurT0vWeAVbGI1rlNGXJ4fPe+wHrxjs1bG0ZOusIF8d5IAAAAA</data>
				<key>Replace</key>
				<data>BIIBAFjhf2OXh9C5pDLqAaMZOl8QQ8KDZNVIa9drFKiwvp8Zb1rrYOwRVgvIxJyL5wFhpAKV9CIY9usXBrgiYGahXiaBmWcaDnMAlLu2THdDzI4h3XN/02Dk9uL8RupUJJjhq4dJcZncs8Kd07co2Nml5nvrGUXV9jHJ2EgBMIm2OxjRuuApt0AWauSZ/dgXT1rlc4YcyYXCBRPCUqpm7C7Pcz202/io08M99B4aZvAcUzUv5e54pjCrZrtMFrz2Oh8hQZbFM0vXVKBXLEGAN9hmHe3o51sapwyyHikUZ827nlT+y4zHnWAMc0v7r6R4uQ1+8iaMwaf3gBjIlY8K2tFHkjMAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#External</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>NDg4NUMwNzQwNzgwOEIwMDAxMDAwMDEw</data>
				<key>Replace</key>
				<data>OTA5MDkwOTA5MDgwOEIwMDAxMDAwMDEw</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02140302D5DMT31M</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/11/2016</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM171.88Z.0105.B08.1604111319</string>
		<key>Board-ID</key>
		<string>Mac-B809C3757DA9BB8D</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02140302D5DMT31M</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>13</string>
		<key>Family</key>
		<string>iMac</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>iMac17,1</string>
		<key>SerialNumber</key>
		<string>C02PCDIKH2YQ</string>
		<key>SmUUID</key>
		<string>44454C4C-3400-1046-805A-B9C04F483732</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
